@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/animacao.css";

@import "./global/header.css";
@import "./global/footer.css";

/*Utilidades*/
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";

/*Pagina home*/
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/*Bicicletas*/
@import "./bicicletas/bicicletas-listas.css";
@import "./bicicletas/bicicletas.css";

/*Bicicleta*/
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/*Contato*/
@import "./contato/contato.css";
@import "./contato/lojas.css";

/*Orçamento*/
@import "./orçamento/orcamento.css";

/*Seguros*/
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";

/*Termos*/
@import "./termos/termos.css";
